body {
    font-size: 1.5em;
}

canvas {
    width: 512px;
    height: 512px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}

.comment {
    color: #aaa;
    font-style: italic;
}

main {
    display: flex;
}

main > * {
    flex: 0 0 auto;
    margin-left: 1em;
}

main > *:first-child {
    margin-left: 0;
}
